/* Top level CSS */
	body {
	padding: 0;
    margin: 0;
	}

	html, body, #map {
	height: 100%;
	}


/* Typography */
	p {
	font-size: 20px;
	font-family: georgia, times, serif;
	color: #333332;
	}

	p.lead {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

/* Top story section */
	.topstory {
	width: 100%;
	}
	
	.topstory img {
	position: relative;
	height: 100%;
	}
	
	.topstoryimage {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	}
	
	.topstoryoverlay {
	background: rgba(0,0,0,0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	}
	 
	.topstorytext {
	position: absolute;
	z-index: 1000;
	color: white;
	margin: 10px;
	top: 300px;
	}
	
	.topstorytitle {
	font-size: 20px;
	}
	
	.topstorydescription {
	font-size: 12px;
	}
	
	.leaflet-sidebar > .leaflet-control {
  	background-color:white;
  	background-position:initial initial;
  	background-repeat:initial initial;
  	border-bottom-left-radius:2px;
  	border-bottom-right-radius:2px;
  	border-top-left-radius:2px;
  	border-top-right-radius:2px;
  	box-shadow:rgba(0, 0, 0, 0.65098) 0 1px 7px;
  	box-sizing:border-box;
  	font-size:1.1em;
  	height:100%;
  	overflow:auto;
  	padding:0px 0px;
  	width:100%;
}

	.sidebarcontent {
	padding:12px 8px;
	}

/* Map toggle */
	.maptoggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 100000000;
	font-size: 20px;
}

.btn:focus {
  outline: none;
}

/* Leaflet overrides */
.leaflet-control-zoom {
	position: fixed;
	bottom: 10px;
	left: 1px;
}


/* Logo overlay */
.logooverlay {
	position: absolute;
	text-align: center;
	z-index: 5000;
	color: white;
	left:1px;
	background-color: rgba(51,51,50,0.9);
	margin: 10px;
	padding: 5px 8px 5px 8px;

}

.logooverlay h3{
	margin: 0px 3px 0px 3px;
	font-family: georgia, times, serif;
	font-size: 30px;
}

/* Top view */
.topview {
position: relative;
max-height: 400px;
width: 100%;
overflow: hidden;
}

.topview img{
width: 100%;
}

.topoverlay {
background: rgba(0,0,0,0.3);
position: absolute;
width: 100%;
height: 100%;
}

.toptitle {
position: absolute;
font-size: 45px;
color: white;
font-family: garamond, times, serif;
width: 100%;
text-align: center;
top: 50%;
}

.toptitle p{
color: white;
font-size: 16px;
font-family: helvetica, sans-serif;
}

/* Author displays */

.authorblock {
	margin-top: 10px;
}

.authorblock td {
	padding: 5px;
}

/* Sponsored Stories */
.sponsored {
color: #FF9933;
margin-bottom: -20px;
}

.sponsoredpage {
color: #FF9933;
z-index: 3000;
}

/* Sidr overrides */

.sidr h1 {
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 3px;
background-image: none;
box-shadow: none;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: garamond, georgia, times, serif;
font-size: 26px;
font-weight: normal;
height: 34px;
line-height: 24px;
margin-bottom: 20px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-decoration: none;
}

.sidr ul li a {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 28px;
padding-bottom: 8px;
padding-left: 15px;
padding-right: 15px;
padding-top: 8px;
text-decoration: none;
}

.sidr ul li {
border-top-color: none;
border-top-width: 0px;
}

.sponsoredsidr {
color: #FF9933;
margin-left: 15px;
margin-bottom: -15px;
font-size: 10px;
}

.footerlinks {
font-size: 11px;
text-align: center;
}

.footerlinks p {
font-size: 20px;
}

.sidebar {
z-index: 3999;
}

/* Right sidepanel overrides */
.sidr#sidepanel {
width: 600px;
}