p {
font-family: 'Ubuntu', sans-serif;
}

li {
font-family: 'Ubuntu', sans-serif;
}

/** Orbitist Buttons **/
.btn-default {
background-color: rgba(30,93,129,0.8);
border-color: rgba(30,93,129,0.6);
color: #eee;
}

.btn-default:hover {
background-color: rgba(30,93,129,1);
border-color: rgba(30,93,129,0.8);
color: white;
}

.btn-orbitist {
background-color: rgba(241,194,137,1);
border-color: rgba(241,194,137,1);
color: black;
}

.btn-orbitist:hover {
background-color: rgba(241,194,137,.9);
border-color: rgba(241,194,137,0.8);
color: white;
}

/** Big icons **/
.big-icon {
font-size: 80px;
padding-top: 40px;
text-align: center;
}

/** Modals **/
.modal-body p{
  color: #333;
  text-align: left;
}

.modal-body p a{
  color: #333;
}

.modal-body li{
  color: #333;
  text-align: left;
}

h4.modal-title {
  color: #333;
}

/* Overlays */
.black-overlay {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
}

.footer {
background-color: #666;
margin-top: none;
padding: 40px 5px 40px 5px;
}

.footer a{
color: #eee;
}

.footer p{
text-align: left;
}