<a class="anchor" name="{{ post.url | replace: '/', '' }}"></a>
<div class="piece">
	<div class="piece-map">
		<div class="container" data-toggle="modal" data-target=".{{ post.url | replace: '/', '' }}">
			<div class="col-md-1 piece-map-left">
				<span class="fa fa-globe"></span>
			</div>
			<div class="col-md-10">
				<h4>{{ post.title }}{% if post.credit %}<br><small> by {{ post.credit }}</small>{% endif %}</h4>
				<p>{{ post.description }}</p>
			</div>
			<div class="col-md-1 piece-map-right">
				<span class="fa fa-angle-right"></span>
			</div>
		</div><!-- container -->
		<!-- Modal -->
		<div class="modal fade {{ post.url | replace: '/', '' }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{ post.title }}</h4>
					</div>
					<iframe data-src="{{ post.src }}" src="about:blank" onload="lzld(this)" frameborder="0" allowfullscreen></iframe>
					<div class="share-link"><span class="fa fa-link"></span> Share link: {{ site.baseurl }}/#{{ post.url | replace: '/', '' }}</div>
				</div>
			</div>
		</div>
	</div><!-- piece-map -->
</div><!-- piece -->