---
layout: page
title: Welcome to Orbitist News
description: Daily maps that entertain and inform
image: http://static1.squarespace.com/static/55a95d75e4b0ca41a09fafe7/t/55af9d5ae4b0fe93c7b1c8b4/1437572506364/1024_illustrated.png?format=500w
---
<div class="container">
	{% for post in site.posts %}
		{% if post.published %}
			<div class="row">
				<div class="col-sm-3">
					<img src="{{ post.image }}" class="img-responsive img-rounded">
				</div><!-- /.col-sm-3 -->
				<div class="col-sm-9">
					<h2>{{ post.title }}<h2>
					<small>{{ page.date | date: '%B %d, %Y' }}</small>
					<p class="lead">{{ post.description }}</p> 
					<a href="{{ post.url }}" class="btn btn-default btn-lg pull-right">Read more</a>
				</div><!-- /.col-sm-9 -->
			</div><!-- /.row -->
			<hr>
		{% endif %}
	{% endfor %}
</div>