<div class="billboard">
	<div class="black-overlay">
		<div class="billboard-inner">
			<div class="billboard-logo">
				<img width="100" src="http://orbitist.s3.amazonaws.com/_toplevel/images/logos/orbitist-helmet.png">
			</div><!-- billboard-logo -->
			<h1>ORBITIST</h1>
			<div class="col-md-6 col-md-offset-3">
				<p class="lead">We create experiences and tell stories that empower people to find adventure through digital and physical exploration.</p>
			</div><!-- col-md-4 col-md-offset-4 -->
		</div><!-- bilboard-inner -->
	</div><!-- black-overlay -->
</div><!-- billboard -->