<div class="platform">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 platform-top">
				<h1>Our platform</h1>
				<p>It's all about location! Tell your stories with beautiful maps! Here are some things you can do with the Orbitist Mapping Platform:</p>
			</div><!-- col-md-6 col-md-offset-3 platform-top -->
		</div><!-- row -->
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6 col-xs-6">
					<p class="lead"><i class="fa fa-picture-o"></i> Map images</p>
					<p class="lead"><i class="fa fa-font"></i> Map formatted text</p>
					<p class="lead"><i class="fa fa-link"></i> Map links</p>
					<p class="lead"><i class="fa fa-youtube"></i> Map Youtube</p>
					<p class="lead"><i class="fa fa-vimeo-square"></i> Map Vimeo</p>
					<p class="lead"><i class="fa fa-soundcloud"></i> Map Soundcloud</p>
					<p class="lead"><i class="fa fa-twitter"></i> Map Tweets</p>
				</div><!-- col-md-6 -->
				<div class="col-md-6 col-xs-6">
					<p class="lead"><i class="fa fa-mobile"></i> Create mobile web apps</p>
					<p class="lead"><i class="fa fa-car"></i> Driving directions</p>
					<p class="lead"><i class="fa fa-print"></i> Printable maps</p>
					<p class="lead"><i class="fa fa-code"></i> Embeddable maps</p>
					<p class="lead"><i class="fa fa-file-code-o"></i> Extend with GeoJSON</p>
					<p class="lead"><i class="fa fa-headphones"></i> Make audio maps</p>
				</div><!-- col-md-6 -->
			</div><!-- row -->
			<div class="btn-group" role="group">
				<p><a class="btn btn-default" href="http://orbitist.com/documentation">Learn more</a> <a href="/plans" class="btn btn-orbitist">SIGN UP</a></p>
			</div><!-- btn-group -->
		</div><!-- col-md-6 -->
		<div class="col-md-6">
			<iframe width="100%" height="400px" src="http://app.orbitist.com/embed-watercolor/128" frameborder="0" allowfullscreen></iframe>
		</div><!-- col-md-6 -->
	</div><!-- container -->
</div><!-- platform -->