<div class="services">
	<div class="container">
		<h1>Our services</h1>
		<p>On the frontier of digital storytelling.</p>
			<div class="col-md-8">
				<a href="#" data-toggle="modal" data-target="#mapping">
					<div class="services-block">
						<div class="services-block-text">
							<p><i class="fa fa-compass"></i> Mapping</p>
						</div><!-- services-block-text -->
						<img src="http://orbitist.s3.amazonaws.com/_toplevel/images/services/buffalomap.jpg" />
					</div><!-- services-block -->
				</a>
			</div><!-- col-md-8 -->
			<div class="col-md-4">
				<a href="#" data-toggle="modal" data-target="#video">
					<div class="services-block">
						<div class="services-block-text">
							<p><i class="fa fa-video-camera"></i> Video</p>
						</div><!-- services-block-text -->
						<img src="http://orbitist.s3.amazonaws.com/_toplevel/images/services/geoff.jpg" />
					</div><!-- services-block -->
				</a>
			</div><!-- col-md-4 -->
			<div class="col-md-4">
				<a href="#" data-toggle="modal" data-target="#interactive">
					<div class="services-block">
						<div class="services-block-text">
							<p><i class="fa fa-html5"></i> Interactive</p>
						</div><!-- services-block-text -->
						<img src="http://orbitist.s3.amazonaws.com/_toplevel/images/services/ugrr_cover.jpg" />
					</div><!-- services-block -->
				</a>
			</div><!-- col-md-4 -->
			<div class="col-md-4">
				<a href="#" data-toggle="modal" data-target="#strategy">
					<div class="services-block">
						<div class="services-block-text">
							<p><i class="fa fa-road"></i> Strategy</p>
						</div><!-- services-block-text -->
						<img src="http://orbitist.s3.amazonaws.com/_toplevel/images/services/gowanda.jpg" />
					</div><!-- services-block -->
				</a>
			</div><!-- col-md-4 -->
			<div class="col-md-4">
				<a href="#" data-toggle="modal" data-target="#dataviz">
					<div class="services-block">
						<div class="services-block-text">
							<p><i class="fa fa-bar-chart"></i> Data viz</p>
						</div><!-- services-block-text -->
						<img src="http://orbitist.s3.amazonaws.com/_toplevel/images/screenshots/iphone/terns.jpg" />
					</div><!-- services-block -->
				</a>
			</div><!-- col-md-4 -->
	</div><!-- container-fluid -->
</div><!-- services -->