	{% if page.mapsrc == "mapbox" %}
	
<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	
<!-- Mapbox variables -->
    <script>
        var map = L.mapbox.map('map', '{{ page.mapid }}', {
    		tileLayer: {
        		detectRetina: true,
        		maxZoom: {{ page.maxZoom }}
    		}
		}).setView([{{ page.latitude }}, {{ page.longitude }}], {{ page.zoom }});
	</script>
{% endif %}

{% if page.mapsrc == "cartodb" %}   
<!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

    <script>
      function main() {
        cartodb.createVis('map', '{{ page.mapid }}', {
            center_lat: {{ page.latitude }},
            center_lon: {{ page.longitude }},
            zoom: {{ page.zoom }}
        })
        .done(function(vis, layers) {
          // layer 0 is the base layer, layer 1 is cartodb layer
          // setInteraction is disabled by default
           //layers[1].setInteraction(true);
           layers[1].on('featureOver', function(e, pos, latlng, data) {
            cartodb.log.log(e, pos, latlng, data);
          });

          // you can get the native map to work with it
          // depending if you use google maps or leaflet
          map = vis.getNativeMap();

          // now, perform any operations you need
          // map.setZoom(3)
          // map.setCenter(new google.maps.Latlng(...))
        })
        .error(function(err) {
          console.log(err);
        });
      }
      window.onload = main;
    </script>

{% endif %}

<!-- Add GeoJSON to map -->
	<script>
var featureLayer = L.mapbox.featureLayer({{ page.addgeojson }})
    .addTo(map);

featureLayer.eachLayer(function(layer) {

    // here you call `bindPopup` with a string of HTML you create - the feature
    // properties declared above are available under `layer.feature.properties`
    var content = '<h3>' + layer.feature.properties.name + '</h3><p>' + layer.feature.properties.description + '<\/p>';
    layer.bindPopup(content);
});

	</script>
    
<!-- Bootstrap JS -->
	<script src="{{ site.baseurl }}/plugins/bootstrap/js/bootstrap.min.js"></script>
	
<!-- FitVids JS -->
	<script src="{{ site.baseurl }}/plugins/fitvids/jquery.fitvids.js"></script>
	
<!-- Fitvids variables -->
	<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#sidepanel").fitVids();
  });
	</script>
	
<!-- Sidr JS -->
	<script src="{{ site.baseurl }}/plugins/sidr/jquery.sidr.min.js"></script>
	<script>
$(document).ready(function() {
  $('#sidr-menu').sidr();
});
</script>

<script>
$(document).ready(function() {
    $('#sidr-menu').sidr({
      name: 'sidr-left',
      side: 'left' // By default
    });
    $('#maptoggle').sidr({
      name: 'sidepanel',
      side: 'right',
      displace: false
    });
});
</script>
	
	
<!-- Tooltips -->
<script>
$('#maptoggle').tooltip('toggle')

$('html').click(function(e) {
    $('#maptoggle').tooltip('hide');
});

$('#maptoggle').tooltip({
    html: true,
    trigger: 'manual'
}).click(function(e) {
    $(this).tooltip('toggle');
    e.stopPropagation();
});
</script>

<!-- Auto click maptoggle -->
<script>
    var delay=2000;//1 seconds
    setTimeout(function(){
  $(document).ready(function(){ 
  $('#maptoggle').trigger('click'); 
  });
    },delay);
</script>

<!-- Script to center landscape vs portrait images in grid -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
        <script src="{{ site.baseurl }}/plugins/jquery-imagefill.js"></script>
        <script>
            $('.topstory').imagefill();
        </script>

<!-- Google Analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics.google.tracking_id }}', '{{ site.production_url }}');
  ga('send', 'pageview');

	</script>
