<!-- Business -->
<div class="modal fade" id="business" tabindex="-1" role="dialog" aria-labelledby="business" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="business">Orbitist for Business</h4>
      </div>
      <div class="modal-body">
        <p class="lead">Whether you run an architectural firm or a fashion company, you need to tell your stories to the world. Orbitist lets you generate maps that tell the story of your business.</p>
        <li><p class="lead">Impress clients with a map of your past projects, embedded on your website or shared on your social media.</p></li>
        <li><p class="lead">Showcase your factories or locations.</li>
        <li><p class="lead">Give customers a sense of all the good work you're doing across the globe!</p></li>
        <br>
        <p><a href="/plans" class="btn btn-default btn-orbitist center-block">SIGN UP</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Education -->
<div class="modal fade" id="education" tabindex="-1" role="dialog" aria-labelledby="education" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Orbitist for Education</h4>
      </div>
      <div class="modal-body">
        <p class="lead">Students are learning in more visual ways. Orbitist is a simple way to bring visual and collaborative learning into the classroom with maps.</p>
        <li><p class="lead">Create beautiful maps to use as visual lesson aids.</p></li>
        <li><p class="lead">Assign maps to students and let them collaborate to explore the world!</p></li>
        <li><p class="lead">Flip the classroom! Map your lesson and have students explore the content at home.</p></li>
        <br>
        <p><a href="/plans" class="btn btn-default btn-orbitist center-block">SIGN UP</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Journalism -->
<div class="modal fade" id="journalism" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Orbitist for Journalism</h4>
      </div>
      <div class="modal-body">
        <p class="lead">Orbitist was created first and foremost as a simple way to tell stories on beautiful maps. We believe that maps give context to important information, making it really accessible and relevant.</p>
        <li><p class="lead">Embed maps into your posts.</p></li>
        <li><p class="lead">Crowd-source images, tweets and videos that add on-the-ground perspectives to your stories.</p></li>
        <li><p class="lead">Put rich multimedia on top of mapped data visualizations using your favorite geospatial tools.</p></li>
        <br>
        <p><a href="/plans" class="btn btn-default btn-orbitist center-block">SIGN UP</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Tourism -->
<div class="modal fade" id="tourism" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Orbitist for Tourism</h4>
      </div>
      <div class="modal-body">
        <p class="lead">Travel and maps have gone hand in hand for a very long time. Orbitist adds a new dimension to the experience of travel.</p>
        <li><p class="lead">Provide your visitors with self-guided tours and maps that help them plan their trip.</p></li>
        <li><p class="lead">Create beautiful map kiosks in your museum.</p></li>
        <li><p class="lead">Add QR codes to plaques or brochures that give deep context to your attractions with maps!</p></li>
        <br>
        <p><a href="/plans" class="btn btn-default btn-orbitist center-block">SIGN UP</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Embed services -->
<div class="modal fade" id="embed" tabindex="-1" role="dialog" aria-labelledby="embed" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="embed">Things you can map with Orbitist!</h4>
      </div>
      <div class="modal-body">
        <li><p class="lead">Images</p></li>
		<li><p class="lead">Formatted text</p></li>
		<li><p class="lead">Youtube</p></li>
		<li><p class="lead">Vimeo</p></li>
		<li><p class="lead">Soundcloud</p></li>
		<li><p class="lead">Tweets</p></li>
		<li><p class="lead">Links</p></li>
        <br>
        <p><a href="/plans" class="btn btn-default btn-orbitist center-block">SIGN UP</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>