<script>
    // Orbitist api pulled in
var orbitistApiGeoJson = {{ page.orbitistapi }};
  
var orbitistIcon = L.MakiMarkers.icon({
    icon: "circle",
    color: "#2675a2",
    size: "m"
});

function orbitistApiPopup(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.name) {
        layer.bindPopup('<h1>' + feature.properties.name + '</h1><p>' + feature.properties.description + '</p>', {closeButton: false});
    }
}

L.geoJson(orbitistApiGeoJson, {
    pointToLayer: function (feature, latlng) {
        return L.marker(latlng, {icon: orbitistIcon});
    },
    onEachFeature: orbitistApiPopup
}).addTo(map);


</script>

