<script>
    // Orbitist api pulled in
var orbitistApiGeoJson = {{ page.orbitistapi }};

var orbitistMarker = L.AwesomeMarkers.icon({
    prefix: 'fa',
    icon: 'circle',
    markerColor: 'blue'
  });

function orbitistApiPopup(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.name) {
        layer.bindPopup('<h3>' + feature.properties.name + '</h3><p>' + feature.properties.description + '</p>', {closeButton: false});
    }
}

L.geoJson(orbitistApiGeoJson, {
    pointToLayer: function (feature, latlng) {
        return L.marker(latlng, {icon: orbitistMarker});
    },
    onEachFeature: orbitistApiPopup
}).addTo(map);
</script>

