<script>
    // Orbitist api pulled in
var orbitistApiGeoJson = {{ page.orbitistapi }};
  
var orbitistIcon = L.MakiMarkers.icon({
    icon: "rocket",
    color: "#b0b",
    size: "m"
});

function orbitistApiPopup(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.name) {
        layer.bindPopup('<h3>' + feature.properties.name + '</h3><p>' + feature.properties.description + '</p>', {closeButton: false});
    }
}

L.geoJson(orbitistApiGeoJson, {
    pointToLayer: function (feature, latlng) {
        return L.marker(latlng, {icon: orbitistIcon});
    },
    onEachFeature: orbitistApiPopup
}).addTo(map);
</script>

