---
layout: page
title: Help
description: How to use the Orbitist.
---
<div class="topview">
	<div class="topoverlay">
	</div><!-- topoverlay -->
	<div class="toptitle">
		<div class="orbitist">{{ page.title }}</div>
	</div><!-- toptitle -->
<img class="img-responsive" src="http://orbitist.s3.amazonaws.com/_toplevel/images/pages/help.jpg">
</div><!-- topview -->

<div class="container">
	<div class="col-md-8 col-md-offset-2" style="margin-top: 25px;">
		<p>The Orbitist is simple: Stories on maps. There are a few things you need to know in order to use our maps:</p>
		<p>-Toggle between map & story with this button:
		<button type="button" class="btn btn-default"><i class="fa fa-bars"></i> <i class="fa fa-caret-right"></i></button>
		</p>
		<p>-You'll find buttons like these in our stories: {% include cvi %}{% include cvo %} They are like little tour guides that adjust the map to fit where you are in the story.</p>
		<p>-As you explore, you'll see many icons like this on our maps: <img src="https://api.tiles.mapbox.com/v3/marker/pin-m-circle+2675a2.png">. These contain mini-stories that we call 'vignettes'. Click on them to find a variety of awesome information.</p>
		<p>That's it! Congrats... you're now a super-ninja Orbitist!</p>
	</div><!-- col-md-6 -->
</div><!-- container -->
