<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>

		
		{{ content }}
		
<!-- Sidr -->		
<div id="sidr">
  <a href="/"><div class="orbitist">ORBITIST</div></a>
  <ul>
  	{% for post in site.posts limit: 10 %}
  	{% if post.listed %}
  	{% if post.sponsored %}
		<div class="sponsoredsidr">
		<span class="fa fa-compass"></span> Sponsored map:
		</div><!-- sponsoredsidr -->
		{% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  <div class="footerlinks">
  <a href="{{ site.baseurl }}/2014/05/13/about-orbitist/">About</a> | <a href="{{ site.baseurl }}/pages/contact.html">Contact</a> | <a href="{{ site.baseurl }}/pages/help.html">Help</a><br>

  <p><a href="http://www.twitter.com/theorbitist"><span class="fa fa-twitter"></a></span>&nbsp;<a href="https://www.facebook.com/Orbitist"><span class="fa fa-facebook"></span></a></p>
  &copy; Orbitist
  </div><!-- footerlinks -->
</div><!-- sidr -->

		
		{% include foot.html %}
	</body>
</html>
