<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>

		
		{{ content }}
		
<!-- Sidr -->		
<div id="sidr">
  <a href="/"><h1>Orbitist</h1></a>
  <ul>
  	{% for post in site.posts limit: 10 %}
  	{% if post.listed %}
  	{% if post.sponsored %}
		<div class="sponsoredsidr">
		<span class="fa fa-compass"></span> Sponsored map:
		</div><!-- sponsoredsidr -->
		{% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div><!-- sidr -->

		
		{% include foot.html %}
	</body>
</html>