---
layout: default
---
<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="logo pull-left" href="http://orbitist.com"><img class="orbitist-logo" alt="Brand" src="{{ site.baseurl }}/images/logo_blue_button_100.png"></a>
      		<a class="navbar-brand" href="http://orbitist.com">Orbitist</a>
    	</div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">
    			<li><a href="http://orbitist.com/blog">Blog</a></li>
    			<li><a href="http://orbitist.com/documentation">Help</a></li>    			
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://app.orbitist.com/"><span class="fa fa-tachometer"></span> Dashboard</a></li>
		  	</ul>
    	</div>
  	</div>
</nav>

{{ content }}