---
layout: default
---
<!-- Logo -->		
{% if page.listed %}
<a id="sidr-menu" href="#sidr">
<div class="logooverlay">
	<h3>O</h3>
</div><!-- logooverlay -->
</a>
{% endif %}


<a href="#sidepanel"><button type="button" id="maptoggle" class="btn btn-default maptoggle"><i class="fa fa-bars"></i> <i class="fa fa-caret-right"></i></button></a>

<div class="map" id="map"></div>

<!-- Sidepanel -->
<div id="sidepanel">
	<div class="topstory">
		<div class="topstorytext">
			{% if page.sponsored %}
		<div class="sponsoredpage">
		<span class="fa fa-compass"></span> Sponsored map:
		</div><!-- sponsored -->
		{% endif %}
			<div class="topstorytitle">{{ page.title }}</div><!-- topstorytitle -->
			<div class="topstorydescription">{{ page.description }}</div><!-- topstorydescription -->
		</div><!-- topstorytext -->
			<div class="topstoryimage">
				<div class="topstoryoverlay"></div><!-- topstoryoverlay -->
				<img src="{{ page.image }}">
			</div><!-- topstoryimage -->
	</div><!-- topstory -->
	
<div class="sidebarcontent">
<!-- Author by line -->
			{% assign author = site.authors[page.author] %}
      		{% if author %}   
 
      		<h3><small>By <a href="http://www.twitter.com/{{ author.twitter }}">{{ author.name }}{% endif %}</a></small></h3>

	
	
	{{ content }}
	
      		{% if author %}   
 <div class="authorblock">
 	<table>
 	<tr>
 	<td>
      		<img style="width:75px; height:75px;" src="{{ author.image }}" class="img-circle">
    </td>
    <td>
    <h4>{{ author.display_name }}<br><small><a href="http://www.twitter.com/{{ author.twitter }}">@{{ author.twitter }}{% endif %}</a></small></h4>
    </td>
    </tr>
    </table>
</div><!-- authorblock -->
</div><!-- container -->
</div><!-- sidepanel -->
 

{% if page.mapsrc == "mapbox" %}
<!-- Mapbox variables -->	
    <script>
        var map = L.mapbox.map('map', '{{ page.mapid }}', {
    		tileLayer: {
        		detectRetina: true,
        		maxZoom: {{ page.maxZoom }}
    		}
		}).setView([{{ page.latitude }}, {{ page.longitude }}], {{ page.zoom }});
	</script>
{% endif %}

{% if page.mapsrc == "cartodb" %}   
<!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

    <script>
      function main() {
        cartodb.createVis('map', 'http://documentation.cartodb.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json', {
            shareable: false,
            title: false,
            description: false,
            search: true,
            tiles_loader: true,
            center_lat: 0,
            center_lon: 0,
            zoom: 2
        })
        .done(function(vis, layers) {
          // layer 0 is the base layer, layer 1 is cartodb layer
          // setInteraction is disabled by default
          layers[1].setInteraction(true);
          layers[1].on('featureOver', function(e, pos, latlng, data) {
            cartodb.log.log(e, pos, latlng, data);
          });

          // you can get the native map to work with it
          // depending if you use google maps or leaflet
          map = vis.getNativeMap();

          // now, perform any operations you need
          // map.setZoom(3)
          // map.setCenter(new google.maps.Latlng(...))
        })
        .error(function(err) {
          console.log(err);
        });
      }

      window.onload = main;
    </script>
{% endif %}
