---
layout: default
---
<!-- Logo -->		
{% if page.listed %}
<a id="sidr-menu" href="#sidr">
<div class="logooverlay">
	<h3>O</h3>
</div><!-- logooverlay -->
</a>
{% endif %}

<button type="button" onclick="sidebar.toggle();" class="btn btn-default maptoggle"><i class="fa fa-bars"></i> <i class="fa fa-caret-right"></i></button>

<div id="map" class="dark"></div>

<!-- Sidebar -->
<div id="sidebar">
	<div class="topstory">
		<div class="topstorytext">
			<div class="topstorytitle">{{ page.title }}</div><!-- topstorytitle -->
			<div class="topstorydescription">{{ page.description }}</div><!-- topstorydescription -->
		</div><!-- topstorytext -->
			<div class="topstoryimage">
				<div class="topstoryoverlay"></div><!-- topstoryoverlay -->
				<img src="{{ page.image }}">
			</div><!-- topstoryimage -->
	</div><!-- topstory -->
	
<div class="sidebarcontent">
<!-- Author by line -->
			{% assign author = site.authors[page.author] %}
      		{% if author %}   
 
      		<h3><small>By <a href="http://www.twitter.com/{{ author.twitter }}">{{ author.name }}{% endif %}</a></small></h3>

	
	
	{{ content }}
	
      		{% if author %}   
 <div class="authorblock">
 	<table>
 	<tr>
 	<td>
      		<img style="width:75px; height:75px;" src="{{author.gravatar}}" class="img-circle">
    </td>
    <td>
    <h4>{{ author.display_name }}<br><small><a href="http://www.twitter.com/{{ author.twitter }}">@{{ author.twitter }}{% endif %}</a></small></h4>
    </td>
    </tr>
    </table>
</div><!-- authorblock -->
</div><!-- container -->
</div><!-- sidebar -->
 


<!-- Mapbox variables -->	
    <script>
        var map = L.mapbox.map('map', '{{ page.mapid }}', {
    		tileLayer: {
        		detectRetina: true,
        		maxZoom: {{ page.maxZoom }}
    		}
		}).setView([{{ page.latitude }}, {{ page.longitude }}], {{ page.zoom }});
	</script>

<!-- Leaflet sidebar -->
    <script src="{{ site.baseurl }}/plugins/leaflet-sidebar/src/L.Control.Sidebar.js"></script>
    
<!-- Sidebar variables -->
	<script>
        var sidebar = L.control.sidebar('sidebar', {
            closeButton: false,
            position: 'right'
        });
        map.addControl(sidebar);

        setTimeout(function () {
            sidebar.show();
        }, 1500);

        map.on('click', function () {
            sidebar.hide();
        })

        sidebar.on('show', function () {
            console.log('Sidebar will be visible.');
        });

        sidebar.on('shown', function () {
            console.log('Sidebar is visible.');
        });

        sidebar.on('hide', function () {
            console.log('Sidebar will be hidden.');
        });

        sidebar.on('hidden', function () {
            console.log('Sidebar is hidden.');
        });

        L.DomEvent.on(sidebar.getCloseButton(), 'click', function () {
            console.log('Close button clicked.');
        });
    </script>
