---
layout: default
---
<div class="logooverlay">
	<h3>O</h3>
</div><!-- overlay -->
<a href="#" onclick="sidebar.toggle();"><button type="button" class="btn btn-default maptoggle"><span class="fa fa-compass"></span></button></a>

<div id="sidebar">
	<div class="topimage">
		<img src="{{ page.image }}">
	</div><!-- topimage -->
	<h1>{{ page.title }}</h1>
	<p class="lead">{{ page.description }}</p>
	{{ content }}
</div><!-- sidebar -->

<div id="map"></div>

	<script src="{{ site.baseurl }}/plugins/leaflet/leaflet.js"></script>
    <script src="{{ site.baseurl }}/plugins/leaflet-sidebar/src/L.Control.Sidebar.js"></script>

    <script>
        var map = L.map('map');
        map.setView([{{ page.latitude }}, {{ page.longitude }}], {{ page.zoom }});

        L.tileLayer('http://{s}.tiles.mapbox.com/v3/{{ page.mapid }}/{z}/{x}/{y}.png', {
            maxZoom: {{ page.maxZoom }},
            attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
        }).addTo(map);

        var sidebar = L.control.sidebar('sidebar', {
            closeButton: false,
            position: 'right'
        });
        map.addControl(sidebar);

        setTimeout(function () {
            sidebar.show();
        }, 500);

        map.on('click', function () {
            sidebar.hide();
        })

        sidebar.on('show', function () {
            console.log('Sidebar will be visible.');
        });

        sidebar.on('shown', function () {
            console.log('Sidebar is visible.');
        });

        sidebar.on('hide', function () {
            console.log('Sidebar will be hidden.');
        });

        sidebar.on('hidden', function () {
            console.log('Sidebar is hidden.');
        });

        L.DomEvent.on(sidebar.getCloseButton(), 'click', function () {
            console.log('Close button clicked.');
        });
    </script>
